/*https://codepen.io/anon/pen/jqYyEZ (for gradient container)
*/
#containerMap {
	width: 400px;
	height: 440px;
	margin-left: 5%;
}

#containerGraph {
	height: 400px;
	width: 60%;
	margin-left: 15%;
	margin-right:15%;
}

#containerRose {
	width: 400px;
	height: 440px;
	margin-left: 15%;
	margin-right: 5%;
}


.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 2px;
  color: black;
  border-radius: 0px;
  position: absolute;
}

path:hover {
	fill: yellow;
/*	display: none;
*/}

.hidden {
    display: none;
    }

.tooltip {
	  color: #222; 
	  background: #fff; 
	  border-radius: 3px; 
	  box-shadow: 0px 0px 2px 0px #a6a6a6; 
	  padding: .2em; 
	  text-shadow: #f5f5f5 0 1px 0;
	  opacity: 0.9; 
	  position: absolute;
}

.line {
	fill:none;
}

.axis path,
.axis line {
	fill: none;
	shape-rendering: crispEdges;
}

.key {
	margin-left: 50px;
}

/*.col-sm-2 {
	margin-right: 40%;
	margin-left: 40%;
}*/

#valueSlider {
	font-size: 20px;
}

body {
	background-color: transparent;

}


.axis path {
  fill: none;
  stroke: #000;
  stroke-opacity: .5;
  shape-rendering: crispEdges;
}

.axis path.domain {
  stroke-opacity: .5;
}

.axis line {
  fill: none;
  stroke: #000;
  stroke-opacity: .15;
  shape-rendering: crispEdges;
}

.axis line.zero {
  stroke-opacity: .5;
}

.header{
	background-image: url(/../doc/bee_real.jpg);
	background-size:100%;
	position: relative;
	height: 75vh;
	min-height: 10rem;
	width: 100%;
	overflow: hidden;
	background-repeat: no-repeat;
}

h3 {
	font-family: 'Fredericka the Great', cursive;
	font-size: 48px;

}
#pointer-block{
	margin-left: 40%;
/*	margin-right: 40%;
*/}

#pointer-down{
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 0px;
}

/* resetting properties of button-down element*/
.button-down {
	all: initial;
  * {
    all: unset;
  };
}

.button-down {
  margin-left: 40%;
}

.container-overlay{
	width: 80%;
	height:100%;
	margin-right: 10%;
	margin-left: 10%;
	background: 
    linear-gradient(to right, rgba(255,255,224,0) 0%, 
	rgba(255,255,224,0.9) 10%, rgba(255,255,224,0.9) 50%, 
	rgba(255,255,224,0.9) 90%, rgba(255,255,224,0) 100%);

}

.container-fluid{
	background-image: url(/../doc/bee-cream.jpg);
	background-attachment: fixed;
	background-size:100%;
	width:100%;
	height:100%;

}

.text-muted{
	background:rgba(255,255,224,0.9);
}

#text1{
	padding-top: 10%;
	margin-left: 20%;
}

.slider{
	margin-left: 30%;
}

.clrclass{
	margin-left:20%;
}

#lineText {
	height:50px;
	width: 100px;
	padding-right: 20%;
	padding-left: 20%;
}

.row{
	padding-bottom: 5%;
}