#container {
	width: 400px;
	height: 200px;
	margin-left: 100px;
	float:left;
	margin-top: 20px;
}

#containerGraph {
	/*height: 400px;
	width: 400px;
	margin-left: 100px;*/
	float:middle;
	margin-top: 20px;
	background-color:;
	margin-bottom: 20px;
}

#containerRose {
	float:right;

}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 2px;
  color: black;
  border-radius: 0px;
  position: absolute;
}

path:hover {
	fill: green;
	cursor:pointer;
			}

.hidden {
    display: none;
    }

.tooltip {
	  color: #222; 
	  background: #fff; 
	  border-radius: 3px; 
	  box-shadow: 0px 0px 2px 0px #a6a6a6; 
	  padding: .2em; 
	  text-shadow: #f5f5f5 0 1px 0;
	  opacity: 0.9; 
	  position: absolute;
}

.line {
	fill:none;
}

.axis path,
.axis line {
	fill: none;
	shape-rendering: crispEdges;
}

rect.colorLegend_swatch,
rect.linearLegend {
  stroke: #000;
  stroke-width: 0.5px;
  }
