/*
  UvA minor programmeren
  Data Project Spring 2018
  Sebile Demirtas 
  10548270

  This file contains layout of the webpage.

  Sources:
  - https://codepen.io/anon/pen/jqYyEZ (for gradient container)

*/

/* Placing container for map*/
#containerMap {
	width: 400px;
	height: 440px;
	margin-left: 5%;
}

/* Placing container for line chart*/
#containerGraph {
	height: 400px;
	width: 60%;
	margin-left: 15%;
	margin-right:15%;
	padding-bottom: 3%;
}

/*Placing container for rose chart*/
#containerRose {
	width: 400px;
	height: 440px;
	margin-left: 15%;
	margin-right: 5%;
}


/* Layout of tooltips*/
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 2px;
  color: black;
  border-radius: 0px;
  position: absolute;
}

/* Change color when hovered over region*/
path:hover {
	fill: lightyellow;
}

/* Hide tooltips */
.hidden {
    display: none;
    }

/* Tooltip looks*/
.tooltip {
	  color: #222; 
	  background: #fff; 
	  border-radius: 3px; 
	  box-shadow: 0px 0px 2px 0px #a6a6a6; 
	  padding: .2em; 
	  text-shadow: #f5f5f5 0 1px 0;
	  opacity: 0.9; 
	  position: absolute;
}

/* Do not fill line*/
.line {
	fill:none;
}

/* Layout of axis*/
.axis path,
.axis line {
	fill: none;
	shape-rendering: crispEdges;
}


.axis path {
  fill: none;
  stroke: #000;
  stroke-opacity: .5;
  shape-rendering: crispEdges;
}

.axis path.domain {
  stroke-opacity: .5;
}

.axis line {
  fill: none;
  stroke: #000;
  stroke-opacity: .15;
  shape-rendering: crispEdges;
}

.axis line.zero {
  stroke-opacity: .5;
}

/* Placing of legend*/
.key {
	margin-left: 50px;
}

/* Font of slider value*/
#valueSlider {
	font-size: 20px;
}

/* Background color of body*/
body {
	background-color: transparent;

}

/* Header layout*/
.header{
	background-image: url(../Code/Images/bee_real.jpg);
	background-size:100%;
	position: relative;
	height: 75vh;
	min-height: 10rem;
	width: 100%;
	overflow: hidden;
	background-repeat: no-repeat;
}

/* Add new font besides Bootstrap stylesheet fonts*/
h3 {
	font-family: 'Fredericka the Great', cursive;
	font-size: 48px;

}

/* Placing of button-down icon*/
#pointer-down{
	margin-left: 40%;
}

/* Resetting bootstrap properties of button-down element*/
.button-down {
	all: initial;
  * {
    all: unset;
  };
}

/* Placing of text and button-down element*/
.button-down {
  margin-left: 30%;
  padding-top: 20px;
}

/* Layout overlay container*/
.container-overlay{
	width: 80%;
	height:100%;
	margin-right: 10%;
	margin-left: 10%;
	background: 
    linear-gradient(to right, rgba(255,255,224,0) 0%, 
	rgba(255,255,224,0.9) 10%, rgba(255,255,224,0.9) 50%, 
	rgba(255,255,224,0.9) 90%, rgba(255,255,224,0) 100%);

}

/* Layout bigger container*/
.container-fluid{
	background-image: url(../Code/Images/bee-cream.jpg);
	background-attachment: fixed;
	background-size:100%;
	width:100%;
	height:100%;

}

/* Text layout*/
.text-muted{
	background:rgba(255,255,224,0.9);
}

/*Placing of text*/
#text1{
	padding-top: 5%;
	margin-left: 10%;
}

/*Placing of slider*/
.slider{
	margin-left: 25%;
}

/*Placing of column class*/
.clrclass{
	margin-left:20%;
}


/* Adding text above line chart */
#lineText {
	padding-top: 5%;
	margin-left: 10%;
	padding-right: 20%;
}

/* Add title to rose chart*/
#roseTitle{
	padding-left: 90px;
	font-size: 15px;
	font-family: 'Fredericka the Great', cursive;
}

/* Add title to map*/
#mapTitle{
	padding-right: 50px;
	font-family: 'Fredericka the Great', cursive;
	font-size:15px;
}